@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
            </span>
        </div>
    </div>
</div>
