@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Email" type="email" class="validate">
                        <label asp-for="Email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Password" type="password" class="validate">
                        <label asp-for="Password" data-error="wrong" data-success="right">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="ConfirmPassword" type="password" class="validate">
                        <label asp-for="ConfirmPassword" data-error="wrong" data-success="right">Confirm Password</label>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Reset
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
