@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor UserHttpContext
@{
    ViewData["Title"] = "Error";
    Layout = !UserHttpContext.HttpContext.User.Identity.IsAuthenticated ? "_layout" : "_SecureLayout";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Access Denied.
            </span>
        </div>
    </div>
</div>
